SERVER_HOST=0.0.0.0 #Docker bind address
SERVER_PORT=8090 #Docker internal port or Application port
SERVER_EXTERNAL_PORT=8088 #Docker extrernal compose port

ORIGIN=*
RESPONSE_HEADERS=*
ALLOW_UNREGISTERED_CLIENTS=yes
ALLOW_UNREGISTERED_HTTP_CLIENTS=no
REGISTERED_TOKENS_URL=
AUTO_TLS=yes
